eventlet==0.25.1
Flask==1.1.2
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
flask-marshmallow==0.11.0
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
marshmallow==3.5.1
marshmallow-sqlalchemy==0.22.3
psycopg2==2.8.4
pycountry==19.8.18
pyopenssl==19.1.0
python-dotenv==0.12.0
requests==2.23.0
