eventlet==0.25.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.21.0
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SocketIO==4.2.0
Flask-SQLAlchemy==2.4.0
gunicorn==19.9.0
marshmallow-sqlalchemy==0.17.0
psycopg2==2.8.3
pycountry==18.12.8
python-dotenv==0.10.3
requests==2.22.0